.container {
  display: flex;
  gap: 5rem;
  padding: 3rem 0;
}

.link {
  color: var(--color-text-primary);
  text-decoration: none;
  font-weight: 600;
}

.link:nth-child(1) {
  margin-left: auto;
}

.link:hover {
  text-decoration: underline;
}
