.container {
  display: flex;
  gap: 4rem;
  padding: 2rem 8rem;
  align-items: center;
}

.logo {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: bold;
  color: var(--color-heading-primary);
}

.links {
  margin-left: auto;
  display: flex;
  gap: 4rem;
}

.link {
  color: var(--color-text-primary);
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  line-height: 27px;
}
