.container {
  width: 100%;
}

.projectDetailsContainer {
  width: 100%;
  border: 2px solid var(--border-color);
  padding: 1.5rem 2rem;
}

.projectDetailsContainer > * {
  width: 100%;
}

.projectHeading {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: var(--color-text-primary);
}

.projectDescription {
  font-size: 14px;
  color: var(--color-text-primary);
  margin-top: 1rem;
}
