.paraText {
  font-size: 1.25rem;
  line-height: 30px;
  font-weight: 400;
  color: var(--color-text-primary);
}

.heroText {
  color: var(--color-heading-primary);
  font-size: 3rem;
  line-height: 4rem;
  font-weight: bold;
}

.heroContainer {
  display: flex;
  margin: 6.25rem 0 4rem 0;
  border: 2px solid var(--color-heading-primary);
  border-radius: 4px;
  padding: 5.5rem 3rem;
  align-items: center;
  gap: 2.625rem;
}

.heroContainer > * {
  width: 50%;
}

.cta {
  border-radius: 4px;
  padding: 0.75rem 2rem;
  text-align: center;
  font-size: 1.25rem;
  line-height: 30px;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
}
