.heroContainer {
  margin: 9.5rem auto;
  width: 60%;
}

.footer {
  text-align: center;
  color: var(--color-text-primary);
  margin: 3rem 0;
  background: var(--button-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0 1.5rem;
}

@media (max-width: 1140px) {
  .heroContainer {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .heroContainer {
    width: 90%;
  }
}
