.container {
  margin: var(--spacer-margin) 0;
}

.contactContainer {
  margin-top: 5rem;
}

.contactButtons {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.contactButton {
  border-radius: 4px;
  height: 32px;
  width: 32px;
  background: var(--button-gradient);
  text-align: center;
  color: var(--color-text-primary);
  padding: 1rem;
  cursor: pointer;
}

.paraText {
  font-size: 20px;
  line-height: 30px;
  color: var(--color-text-primary);
  display: block;
}

@media (max-width: 640px) {
  .paraText {
    font-size: 14px;
  }
}
