.container {
  margin: var(--spacer-margin) 0;
}

.contactContainer {
  margin-top: 5rem;
}

.contactButtons {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.contactButton {
  border-radius: 4px;
  height: 42px;
  width: 42px;
  background: var(--button-gradient);
  text-align: center;
  color: var(--color-text-primary);
  padding: 1rem;
  cursor: pointer;
  z-index: 1;
  position: relative;
}

.paraText {
  font-size: 20px;
  line-height: 30px;
  color: var(--color-text-primary);
  display: block;
  text-decoration: none;
}

.img {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
  transform: translate(-50%, -50%);
}

@media (max-width: 640px) {
  .paraText {
    font-size: 14px;
  }
}
